<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EquipmentMaintenanceMapper">
    
    <resultMap type="EquipmentMaintenance" id="EquipmentMaintenanceResult">
        <result property="id"    column="id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="maintenanceType"    column="maintenance_type"    />
        <result property="maintenancePlanDate"    column="maintenance_plan_date"    />
        <result property="maintenanceActualDate"    column="maintenance_actual_date"    />
        <result property="maintenanceContent"    column="maintenance_content"    />
        <result property="maintenancePerson"    column="maintenance_person"    />
        <result property="maintenanceResult"    column="maintenance_result"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
    </resultMap>

    <sql id="selectEquipmentMaintenanceVo">
        select id, equipment_id, maintenance_type, maintenance_plan_date, maintenance_actual_date, maintenance_content, maintenance_person, maintenance_result, remark, create_time, create_user, update_time, update_user from equipment_maintenance
    </sql>

    <select id="selectEquipmentMaintenanceList" parameterType="EquipmentMaintenance" resultMap="EquipmentMaintenanceResult">
        <include refid="selectEquipmentMaintenanceVo"/>
        <where>  
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="maintenanceType != null  and maintenanceType != ''"> and maintenance_type = #{maintenanceType}</if>
            <if test="maintenancePlanDate != null "> and maintenance_plan_date = #{maintenancePlanDate}</if>
            <if test="maintenanceActualDate != null "> and maintenance_actual_date = #{maintenanceActualDate}</if>
            <if test="maintenanceContent != null  and maintenanceContent != ''"> and maintenance_content = #{maintenanceContent}</if>
            <if test="maintenancePerson != null  and maintenancePerson != ''"> and maintenance_person = #{maintenancePerson}</if>
            <if test="maintenanceResult != null  and maintenanceResult != ''"> and maintenance_result = #{maintenanceResult}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
        </where>
    </select>
    
    <select id="selectEquipmentMaintenanceById" parameterType="Long" resultMap="EquipmentMaintenanceResult">
        <include refid="selectEquipmentMaintenanceVo"/>
        where id = #{id}
    </select>

    <insert id="insertEquipmentMaintenance" parameterType="EquipmentMaintenance" useGeneratedKeys="true" keyProperty="id">
        insert into equipment_maintenance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id,</if>
            <if test="maintenanceType != null and maintenanceType != ''">maintenance_type,</if>
            <if test="maintenancePlanDate != null">maintenance_plan_date,</if>
            <if test="maintenanceActualDate != null">maintenance_actual_date,</if>
            <if test="maintenanceContent != null and maintenanceContent != ''">maintenance_content,</if>
            <if test="maintenancePerson != null">maintenance_person,</if>
            <if test="maintenanceResult != null">maintenance_result,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null and createUser != ''">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null and updateUser != ''">update_user,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="maintenanceType != null and maintenanceType != ''">#{maintenanceType},</if>
            <if test="maintenancePlanDate != null">#{maintenancePlanDate},</if>
            <if test="maintenanceActualDate != null">#{maintenanceActualDate},</if>
            <if test="maintenanceContent != null and maintenanceContent != ''">#{maintenanceContent},</if>
            <if test="maintenancePerson != null">#{maintenancePerson},</if>
            <if test="maintenanceResult != null">#{maintenanceResult},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null and createUser != ''">#{createUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null and updateUser != ''">#{updateUser},</if>
         </trim>
    </insert>

    <update id="updateEquipmentMaintenance" parameterType="EquipmentMaintenance">
        update equipment_maintenance
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="maintenanceType != null and maintenanceType != ''">maintenance_type = #{maintenanceType},</if>
            <if test="maintenancePlanDate != null">maintenance_plan_date = #{maintenancePlanDate},</if>
            <if test="maintenanceActualDate != null">maintenance_actual_date = #{maintenanceActualDate},</if>
            <if test="maintenanceContent != null and maintenanceContent != ''">maintenance_content = #{maintenanceContent},</if>
            <if test="maintenancePerson != null">maintenance_person = #{maintenancePerson},</if>
            <if test="maintenanceResult != null">maintenance_result = #{maintenanceResult},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null and createUser != ''">create_user = #{createUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEquipmentMaintenanceById" parameterType="Long">
        delete from equipment_maintenance where id = #{id}
    </delete>

    <delete id="deleteEquipmentMaintenanceByIds" parameterType="String">
        delete from equipment_maintenance where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>